select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

.select {
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;
}
select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid rgba(223, 223, 223, 0);
  border-radius: inherit;
}

.select::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: #505050;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  justify-self: end;
  position: relative;
  right: 10px;

}
select,
.select:after {
  grid-area: select;
}

select:focus {
  border: none;
}
